.titleCell {
    display: flex;
    flex-direction: row;
    text-align: start;
    align-items: center;
}

.titleCell img {
    height: 42px;
    width: 42px;
    margin-right: 16px;
    border-radius: 8px;
}

.search {
    width: 100%;
    margin-bottom: 16px;
}

.users {
    color: #fff;
}