.container {
    min-height: 160px;
    padding: 24px;
    /* margin-bottom: 32px; */
    cursor: pointer;
    border-radius: 16px;
    /* max-width: 350px; */
    width: 100%;
    transition: all 0.3s ease-out;  
    -webkit-transition: all 0.3s ease-out;  
    -moz-transition: all 0.3s ease-out;  
    -o-transition: all 0.3s ease-out;  
    text-decoration: none !important;
}

.container:before{
    content: "";
    display: block;
    padding-top: 38%;
}

.container:hover {
    background-size: 110%;
}

.primary {
    background: linear-gradient( 135deg, rgba(67, 203, 255, .8) 10%, rgba(151, 8, 204, .8) 100%), url('../../../assets/images/dancing-wallpaper.jpg') center center no-repeat;
    background-size: 100%;
}

.secondary {
    /* background-image: linear-gradient( 135deg, #92FFC0 10%, #002661 100%); */
    background: linear-gradient( 135deg, rgba(0, 38, 97, .8) 10%, rgba(146, 255, 192, .8) 100%), url('../../../assets/images/guitar-wallpaper.jpg') center center no-repeat;
    /* background-size: cover; */
    background-size: 100%;
}

.ternary {
    /* background-image: linear-gradient( 135deg, #FEB692 10%, #EA5455 100%); */
    background-image: linear-gradient( 135deg, #EA5455 10%, #FEB692 100%);
}