.App {
  text-align: center;
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  height: 20vh;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.Prococo {
  height: 80vh;
  color: white;
  background-color: #282c34;
}

.Prococo div {
  margin-bottom: 20px;
}

.Prococo img {
  height: 350px;
}

.Prococo button {
  display: block;
  margin: 0 auto;
}

.Prococo .time {
  width: 50px;
}

.Prococo .progress {
  border: 1px solid #eee;
  height: 20px;
  width: 230px;
  margin-left: 20px;
  margin-right: 20px;
}

.Prococo .progress-bar {
  background-color: #eee;
  height: 100%;
  width: 0%;
}

.Prococo .flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
