.App {
  text-align: center;
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  height: 20vh;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.App-body {
  height: 80vh;
  color: white;
  background-color: #282c34;
}

.App-body div {
  margin-bottom: 20px;
}

.App-body img {
  height: 350px;
}

.App-body button {
  display: block;
  margin: 0 auto;
}
