.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.playlist {
  list-style-type: none;
  padding: 0;
}

li {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid black;
  padding: 10px;
  font-size: 16px;
}

li:hover {
  background-color: #c4fbda;
  cursor: pointer;
  color: #282c34;
}

.progress-bar {
  width: 320px;
  margin: 0 auto;
}

.progress {
  width: 100%;
}

.start-time, .end-time {
  font-size: 14px;
}

.start-time {
  float: left;
}

.end-time {
  float: right;
}

.test-button {
  margin: 0 10px;
}